{% extends 'base.html.twig' %}
 
{% block title %}Hello HomeController!
{% endblock %}
 
{% block body %}
{{ parent() }}
    <div class="container">
        <main>
            <div class="py-5 text-center mt-5">
                <h2>Manage Social Media</h2>
            </div>
        </main>
    </div>
 
{% endblock %}