body {
    background-color: lightgray;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.alink{
    color: rgba(0, 0, 0, 0.55);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.radiusImage{
    border-radius: 0.5em;
}